- remote ||= false
= simple_form_for User.new, :url => sessions_path, remote: remote, html: { class: 'form-horizontal', id: 'loginForm' } do |f|
  %fieldset
    = f.input :username, input_html: { class: 'input-xlarge' }, placeholder: username_placeholder, required: false
    = f.input :password, input_html: { class: 'input-xlarge' }, required: false
    .text-center= f.button :submit, 'Enviar', class: 'btn-primary'
  .text-right.margin-1em.subindex
    ¿No recuerdas tus datos? Entra #{ link_to 'aquí', '#' }