= simple_form_for user do |f|
  .row-fluid
    .span2
    .span8
      %fieldset
        %legend Datos de usuario
        - if f.object.errors.any?
          .row-fluid
            .margin-1em
              .span12= bootstrap_alert nil, :error
        .row-fluid
          .margin-1em
            .span6
              = f.input :username
              = f.input :email
            .span6
              = f.input :password
              = f.input :password_confirmation
  .row-fluid
    .span2
    .span8
      .text-center
        = f.button :submit, 'Enviar', class: 'btn-primary'
      .text-right.margin-1em.subindex
        ¿Ya está registrado? Accede #{ link_to 'aquí', login_path }