- remote ||= false
.span6.offset3
  = simple_form_for user, :url => sessions_path, html: { class: 'form-horizontal' } do |f|
    %fieldset
      %legend Registro
      = f.input :username, input_html: { class: 'input-xlarge' }
      = f.input :email, input_html: { class: 'input-xlarge' }
      = f.input :password, input_html: { class: 'input-xlarge' }
      = f.input :password_confirmation, input_html: { class: 'input-xlarge' }
      .text-center= f.button :submit, 'Enviar', class: 'btn-primary'
    .text-right.margin-1em.subindex
      ¿Ya está registrado? Accede #{ link_to 'aquí', '#' }