.row-fluid
  .span12
    %ul.breadcrumb
      %li
        = link_to 'Home', root_path
        %span.divider /
      %li.active
        = link_to 'Projects', projects_path
    .row-fluid
      .span2
        .sidebar-nav.well
          %ul.nav.nav-pills.nav-stacked
            %li.active= link_to 'Nuevo proyecto', '#new_project', icon: 'plus'
            %li= link_to 'Estadísticas', '#personal', icon: 'book'
            %li= link_to 'Settings', '#associations', icon: 'home'
      .span10
        %ul.thumbnails
          %li.span2= link_to image_tag('la_o.png'), projects.first, class: 'thumbnail'
          %li.span2= link_to image_tag('256x256.gif'), '#', class: 'thumbnail'
          %li.span2= link_to image_tag('256x256.gif'), '#', class: 'thumbnail'
          %li.span2= link_to image_tag('256x256.gif'), '#', class: 'thumbnail'
          %li.span2= link_to image_tag('256x256.gif'), '#', class: 'thumbnail'
          %li.span2= link_to image_tag('256x256.gif'), '#', class: 'thumbnail'

        - projects.each do |p|
          %p= p.name