.row-fluid
  .span12
    %ul.breadcrumb
      %li
        = link_to 'Home', root_path
        %span.divider /
      %li
        = link_to 'Projects', projects_path
        %span.divider /
      %li.active
        = link_to project.name, '#'
    .row-fluid
      .span3
        .sidebar-nav.well
          %ul.nav.nav-pills.nav-stacked
            %li.active= link_to 'Nuevo proyecto', '#new_project', icon: 'plus'
            %li= link_to 'Estadísticas', '#personal', icon: 'book'
            %li= link_to 'Settings', '#associations', icon: 'home'
      .span9
        %table.table.table-bordered.table-striped
          %thead
            %tr
              %th Name
              %th Class
              %th Description
            %tbody
              %tr
                %td Default
                %td.muted None
                %td No styles, just columns and rows
              %tr
                %td Basic
                %td
                  %code .table
                %td Only horizontal lines between rows
              %tr
                %td Bordered
                %td 
                  %code .table-bordered
                %td Rounds corners and adds outer border
              %tr
                %td Zebra-stripe
                %td 
                  %code .table-striped
                %td Adds light gray background color to odd rows (1, 3, 5, etc)
              %tr
                %td Condensed
                %td 
                  %code .table-condensed
                %td Cuts vertical padding in half, from 8px to 4px, within all
      
        %ul#issues_list
          - project.issues.each do |issue|
            %li= render issue