.row-fluid
  .span12
    = bootstrap_breadcrumb link_to('Home', root_path), link_to('Projects', projects_path), link_to(project.name, '#')
    .well
      Opciones de búsqueda
    .row-fluid
      .span2
        .sidebar-nav.well
          %ul.nav.nav-pills.nav-stacked
            %li.active= link_to 'Nueva issue', '#new_project', icon: 'plus'
            %li= link_to 'Estadísticas', '#personal', icon: 'book'
            %li= link_to 'Settings', '#associations', icon: 'home'
      .span10

        %table.table.table-bordered.table-striped.table-condensed
          %thead
            %tr
              %th #
              %th Status
              %th Priority
              %th Title
              %th Description
              %th Assigned
              %th Progress
            %tbody
              - project.issues.each do |issue|
                %tr
                  %td= link_to issue.code, [project, issue]
                  %td= issue_status_dropdown(issue)
                  %td= issue_priority_label(issue)
                  %td= link_to issue.title, [project, issue]
                  %td= truncate(issue.description, length: 50)
                  %td= link_to issue.responsable, issue.responsable if issue.responsable
                  %td= issue_progress_bar(issue)
