.row-fluid
  .span12
    %ul.breadcrumb
      %li
        = link_to 'Home', root_path
        %span.divider /
      %li
        = link_to 'Projects', projects_path
        %span.divider /
      %li.active
        = link_to project.name, '#'
    .row-fluid
      .span2
        .sidebar-nav.well
          %ul.nav.nav-pills.nav-stacked
            %li.active= link_to 'Nueva issue', '#new_project', icon: 'plus'
            %li= link_to 'Estadísticas', '#personal', icon: 'book'
            %li= link_to 'Settings', '#associations', icon: 'home'
      .span10
        %table.table.table-bordered.table-striped
          %thead
            %tr
              %th #
              %th Status
              %th Title
              %th Description
              %th Responsable
              %th Updated at
            %tbody
              - project.issues.each do |issue|
                %tr
                  %td= link_to issue.code, [project, issue]
                  %td
                    .btn-group
                      %a.btn.dropdown-toggle{ href: '#', data: { toggle: 'dropdown' } }
                        = issue.status
                        %span.caret
                      %ul.dropdown-menu
                        = link_to 'Started', '#'
                        = link_to 'Done', '#'
                        = link_to 'Feedback', '#'
                  %td= link_to issue.title, [project, issue]
                  %td= truncate(issue.description, length: 60)
                  %td= link_to issue.responsable, issue.responsable if issue.responsable
                  %td.no_br= issue.updated_at.strftime '%d/%m/%y %H:%M'