!!!
%html
%head
  %title Pinkmine
  = stylesheet_link_tag    "application", media: "all"
  = javascript_include_tag "application"
  = csrf_meta_tags

%body
  .navbar.navbar-fixed-top
    .navbar-inner
      .container-fluid
        %a.btn.btn-navbar{ data: { toggle: 'collapse', target: '.nav-collapse' } }
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to 'Pinkmine', root_url, class: 'brand'
        .btn-group.pull-right
          %a.btn.dropdown-toggle{ href: "#", data: { toggle: 'dropdown' } }
            %i.icon-home= " #{current_user ? current_user.username : 'Username'}"
            %span.caret
          %ul.dropdown-menu
            %li= link_to 'Profile', my_profile_path, icon: 'user'
            %li= link_to 'Stats', my_profile_path, icon: 'calendar'
            %li.divider
            %li= link_to 'Sign Out', logout_path, icon: 'off'
        .nav-collapse
          %ul.nav
            %li.active= link_to 'Projects', '#'
            %li= link_to 'About', '#about'
            %li= link_to 'Contact', '#contact'

  .container-fluid
    .row-fluid= bootstrap_flashes
    = yield