!!!
%html
%head
  %title Pinkmine
  = stylesheet_link_tag    "application", media: "all"
  = javascript_include_tag "application"
  = csrf_meta_tags

%body
  .navbar.navbar-fixed-top
    .navbar-inner
      .container-fluid
        %a.btn.btn-navbar{ 'data-toggle' => 'collapse', 'data-target' => '.nav-collapse' }
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to 'Pinkmine', '#', class: 'brand'
        .btn-group.pull-right
          %a.btn.dropdown-toggle{ 'data-toggle' => 'dropdown',  href: "#" }
            %i.icon-user Username
            %span.caret
          %ul.dropdown-menu
            %li= link_to 'Profile', '#'
            %li.divider
            %li= link_to 'Sign Out', '#'
        .nav-collapse
          %ul.nav
            %li.active= link_to 'Home', '#'
            %li= link_to 'About', '#about'
            %li= link_to 'Contact', '#contact'

  .container-fluid
    = yield